<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.kaaylabs.fcm.push">

    <application android:name=".FcmLibApp"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- Firebase Notifications -->

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

    </application>

</manifest>
